<a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  <i class="fas fa-user" aria-hidden="true">
    <span id="unresponded-contact-requests"></span>
  </i>
</a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <%= render nav_contact_requests_partial_path %>
</ul><!-- dropdown-menu -->
