<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= render 'layouts/navigation/header' %>
    <%= render 'layouts/navigation/collapsible_elements' %>
  </div>
</nav>
